*[target=crossword]{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
#crosswordContent[target=crossword]{
    width: 100%;
    background-color: antiquewhite;
    flex-wrap: wrap;
    align-content: flex-start;
}
#crosswordTitle[target=crossword]{
    width: 75%;
    margin: 1em;
    font-size: 1.5em;
}
#crosswordInput[target=crossword]{
    width: 75%;
    padding: 0.25em 0.5em;
    font-size: 1.1em;
    border-radius: 8px;
    border: none;
}
#crosswordButton[target=crossword]{
    padding: 0.35em 0.75em;
    font-size: 1.25em;
    margin: 1.25em;
    border-radius: 8px;
    border: none;
    background-color: limegreen;
}
#crosswordContainer[target=crossword]{
    padding: 0.5em;
    background-color: blue;
}
#crosswordPlayground[target=crossword]{
    flex-wrap: wrap;
}
.row[target=crossword]{
    display: block;
    width: 100%;
}
.letterBox[target=crossword]{
    display: inline-block;
    box-shadow: 0 0 0 4px blueviolet;
    outline: dashed 4px darkturquoise;
    margin: 2px;
    background-color: blueviolet;
    height: 40px;
    width: 40px;
}
